@mixin container() {
  margin: 0 auto;
  padding: 0 15px;
  width: 970px;
}

@mixin img-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  width: 1px;
  height: 1px;
  border: 0;
  overflow: hidden;
}