$main-color: #fff;
$text-color-main: #000;
$text-color-mutted: #a9a9a9;
$brand-color-dark: #1e7c25;
$brand-color: #98c23b;
$brand-color-light: #70b577;
$brand-color-lighten: #62ae69;

$brand-color-tip: #333;
$brand-color-tip2: #ecffe5;

$grey-color: #d3d3d3;
$grey-background: #ebebeb;