.action {
  padding-top: 90px;
  padding-bottom: 60px;
}

.action__title {
  @include visually-hidden;
}

.action__inner {
  @include container();
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 950px;

}

.action__img {
  position: relative;
}

.action__mark {
  @include img-replacement;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 120px;
  height: 120px;
  background-image: url('../img/ribbon-text-red_1.png');
  background-repeat: no-repeat;
}

.action__text {
  width: 330px;
  font-size: 18px;
  font-weight: 300;
}

.action__text span {
  font-weight: bold;
}

.action__presents {
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.action__present {
  position: relative;
  margin-bottom: 15px;
  padding: 15px;
  width: 315px;
  font-size: 18px;
  color: #fff;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: $brand-color;
  cursor: pointer;

  &--service {
   background: linear-gradient(to bottom, $brand-color 0%, $brand-color-dark 100%);
  }

  &--project {
     background-color: $brand-color-dark;
  }

  &:hover .action__present-desc {
    display: block;
  }

  &::before {
    content: "i";
    position: absolute;
    top: 14px;
    right: 20px;
    width: 18px;
    height: 18px;
    font-size: 18px;
    text-align: center;
    border: 2px solid $main-color;
    border-radius: 50%;
  }
}

.action__present-desc {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  padding: 15px;
  width: 315px;
  height: 60px;
  font-size: 13px;
  color: $text-color-main;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: $grey-background;
}
