.application {
  padding: 60px 45px 45px 50px;
  width: 375px;
  color: #fff;
  border-radius: 10px;
  background: linear-gradient(to bottom,#98c23b 0%,#1e7c25 100%);
}

.application__form-btn {
  width: 375px;
}

.application__text {
  margin: 0;
  margin-bottom: 60px;
  width: 320px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;

  &--big {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  }
}

.application__form-input {
  margin-bottom: 15px;
  width: 375px;
}

.application__form-btn {
  margin-top: 25px;
  margin-bottom: 30px;
}

.application__note {
  margin: 0;
  font-family: 'OpenSans', 'Arial', sans-serif;
  font-weight: 300;
}
