.certification {
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 3px solid $brand-color-dark;
}

.certification__inner {
  margin: 0 auto;
  padding: 0 15px;
  width: 1032px;
}

.certification__group {
  position: relative;
  min-height: 500px;
  border: 3px solid $brand-color-dark;
  border-radius: 40px;
}

.certification__title {
  margin-top: -15px;
  margin-bottom: 50px;
  margin-left: 20px;
  padding-left: 30px;
  width: 590px;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: $main-color;
  z-index: 10;
}

.certification__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 810px;
  list-style: none;
}

.certification__arrow {
  @include img-replacement;
  position: absolute;
  top: 200px;
  left: 70px;
  display: block;
  width: 30px;
  height: 54px;
  background-image: url('../img/sliderleft.png');
  background-repeat: no-repeat;

  &--next {
    left: 915px;
    background-image: url('../img/sliderright.png');
  }
}
