.counter__title {
  margin-left: 40px;
  font-size: 18px;
  font-weight: bold;
}

.counter__title span {
  color: #a52a2a;
}

.counter__clock {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 300px;
  padding: 0;
  font-size: 42px;
  line-height: 52px;
  color: #333;
  list-style: none;
}

.counter__clock-item {
  //margin-right: 25px;

  &::after {
    content: ":";
    position: absolute;
    left: 55px;
    top: 0;
  }

  &--hours {
    &::after {
      left: 127px;
    }
  }

  &--minutes {
    &::after {
      left: 200px;
    }
  }

}

.counter__clock-label {
  font-size: 11px;
  line-height: 11px;
  text-align: center;
}

