.gallery {
  padding: 50px 0;
  border-bottom: 3px solid $brand-color-dark;
  background-color: $grey-background;
}

.gallery__inner {
  @include container();
  position: relative;
}

.gallery__title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 22px;
  font-weight: 500;
}

.gallery__title span {
  text-transform: uppercase;
}

.gallery__item {
  margin-bottom: 25px;
}

.gallery__img {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 900px;
}

.gallery__info {
  margin: 0;
  margin-bottom: 15px;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 300;
}

.gallery__info-item {
  font-weight: 500;
}

.gallery__info-price {
  text-decoration: underline;
}


.gallery__btn {
  @include img-replacement;
  position: absolute;
  top: 280px;
  left: 15px;
  display: block;
  width: 30px;
  height: 54px;
  background-image: url('../img/sliderleft.png');
  background-repeat: no-repeat;

  &--next {
    left: 955px;
    background-image: url('../img/sliderright.png');
  }
}

.gallery__pagination {
  position: absolute;
  top: 480px;
 }

.gallery__slogan {
  margin-left: auto;
  margin-right: 40px;
  width: 255px;
  font-size: 20px;
  text-align: right;
}
