.instruction {
  padding: 50px 0;
}

.instruction__inner {
  @include container();
  background-image: url('../img/instruction.jpg');
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.instruction__title {
  padding-bottom: 30px;
  width: 600px;
  font-size: 22px;
  font-weight: 500;
}

.instruction__title span {
  text-transform: uppercase;
}

.instruction__list {
  padding: 0;
  list-style: none;
}

.instruction__item {
  position: relative;
  margin-bottom: 30px;
  padding: 15px 0;
  padding-left: 60px;
  width: 300px;
  line-height: 22px;

  &::before  {
    content: "1";
    position: absolute;
    top: 16px;
    left: 10px;
    padding-top: 2px;
    width: 30px;
    height: 28px;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-color: $brand-color-dark;
  }

  &--2 {
    &::before {
      content: "2";
    }
  }

  &--3 {
    &::before {
      content: "3";
    }
  }

  &--4 {
    &::before {
      content: "4";
    }
  }

  &--5 {
    border: 3px solid $brand-color-dark;
    border-radius: 25px;
    &::before {
      content: "5";
    }
  }
}

.instruction__link {
  color: #000;
  text-decoration: none;
  border-bottom: 1px dashed text-color-main;
}

.instruction__phone {
  font-weight: bold;
}