.map {
  position: relative;
  height: 450px;
  border-bottom: 3px solid #2b9540;
}

.map__contacts {
  position: absolute;
  left: 110px;
  bottom: 55px;
  z-index: 100;
  padding: 15px 50px;
  width: 215px;
  height: 75px;
  background-color: #fff;
}

.map__contacts-text {
  margin: 0;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.map__contacts-address {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
}

