.map {
  position: relative;
  height: 450px;
  border-bottom: 3px solid #2b9540;
}

.map__contacts {
  position: absolute;
  left: 300px;
  bottom: 55px;
  z-index: 100;
  padding: 25px 20px 15px 20px;
  width: 275px;
  height: 65px;
  text-align: center;
  background-color: #fff;
}

.map__contacts-text {
  margin: 0;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.map__contacts-address {
  margin: 0;
  font-weight: bold;
  font-style: italic;
}

