.modal-order {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 60px 45px 45px 45px;
  width: 380px;
  color: #fff;
  border-radius: 20px;
  background: linear-gradient(to bottom,#98c23b 0%,#1e7c25 100%);
  z-index: 2000;
  overflow-y: auto;
}

.modal-order__close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 22px;
  color: #fff;
  background-color: #98c23b;
  border: none;
  cursor: pointer;
}

.modal-order__text {
  width: 400px;
  font-size: 20px;

  &--big {
    text-transform: uppercase;
  }
}

.modal-order__form-input {
  margin-bottom: 15px;
}

.modal-order__form-btn {
  width: 380px;
}

.modal-order--show {
  position: fixed;
  display: block;
}