.page-header__top {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  background-color: $main-color;
}

.page-header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  width: 1170px;
}

.page-header__logo {
   width: 130px;
}

.page-header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 25px;
  width: 775px;
}

.page-header__nav-link {
  display: block;
  margin-bottom: 10px;
  padding: 0 10px;
  font-family:  'OpenSans', 'Arial', sans-serif;
  color: $brand-color-dark;
  text-decoration: none;
  border-right: 1px solid $brand-color;
}

.page-header__top-phone {
  display: block;
  padding-top: 18px;
  width: 155px;
  font-size: 18px;
  font-weight: bold;
  color: $brand-color-dark;
  text-align: center;
  text-decoration: none;
}

.page-header__intro {
  position: relative;
  margin-top: 74px;
  padding-bottom: 50px;
  color: #000;
  background-color: green;
 //background-image: url('../img/topimg-compressor_3jppsrd.jpg');
  background-image: url('../img/intro7.jpg');
  background-position: 50%  100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header__intro-inner {
  margin: 0 auto;
  padding: 0 15px;
  width: 1170px;
}

.page-header__info {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-left: 100px;
  padding-top: 20px;
  width: 970px;
  font-weight: 300;
}

.page-header__info-manufacturer {
  margin: 0;
  width: 300px;
}

.page-header__info-office-hours {
  margin: 0;
  width: 300px;
  text-align: center;
}

.page-header__info-phone {
  margin: 0;
  width: 150px;
  font-style: italic;
  font-weight: bold;
  text-align: right;
}

.page-header__info-link {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px dotted #f4c001;
}

.page-header__slogan {
  margin: 0 auto;
  margin-bottom: 35px;
  width: 805px;
  min-height: 100px;
  text-align: center;
  background-image: url('../img/headram.png');
  background-repeat: no-repeat;
}

.page-header__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 27px;
  font-weight: bold;
  text-transform: uppercase;
}

.page-header__note {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.page-header__offer {
  position: relative;
  margin-left: 70px;
  width: 770px;
}

.page-header__offer-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

.page-header__offer-subtile {
  margin: 0;
  margin-left: 75px;
  font-size: 18px;
}

.page-header__offer-list {
  padding-left: 100px;
  margin-bottom: 20px;
}

.page-header__offer-item {
  margin-bottom: 5px;
}

.page-header__offer-img {
  position: absolute;
  display: block;
  z-index: 10;
  top: -90px;
  left: -500px;
 // width: 487px;
}

.page-header__intro-btn {
  margin-bottom: 30px;
  margin-left: 50px;
}

.page-header__offer-video {
  position: absolute;
  top: -100px;
  right: -250px;
}
