.page-header {
  position: relative;
  background-image: url('../img/topimg-compressor_3jppsrd.jpg');
  background-position: center;
}

.page-header__top {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 87px;
  background-color: #fff;
  background-image: url('../img/menubg.png');
  background-position: 0% 0%;
  background-repeat: no-repeat;
}

.page-header__top-inner {
  @include container();
  display: flex;
  align-items: center;
}

.page-header__logo {
   width: 130px;
}

.page-header__nav {
  display: flex;
  justify-content: space-between;
  width: 775px;
}

.page-header__nav-link {
  padding: 0 10px;
  font-family:  'OpenSans', 'Arial', sans-serif;
  color: #549d4b;
  text-decoration: none;
  border-right: 1px solid #7cb02e;
}

.page-header__top-phone {
  display: block;
  width: 155px;
  font-size: 18px;
  font-weight: bold;
  color: #207d29;
  text-align: center;
  text-decoration: none;
}

.page-header__intro {
  outline: 1px solid black;
  position: relative;
  color: #fff;
  background-color: #green;
}

.page-header__intro-inner {
  @include container();
}

.page-header__info {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  margin-bottom: 90px;
  margin-left: 100px;
  padding-top: 40px;
  width:970px;
  font-weight: 300px;
}

.page-header__info-manufacturer {
  width: 300px;
}
 
.page-header__info-office-hours {
  width: 300px;
  text-align: center;
}

.page-header__info-phone {
  width: 150px;
  font-style: italic;
  font-weight: bold;
}

.page-header__info-link {
  color: #fff;
  font-style: normal;
  text-decoration: none;
  border-bottom: 1px dotted #f4c001;
}

.page-header__slogan {
  margin-bottom: 70px;
  margin-left: 80px;
  width: 753px;
  text-align: center;
}

.page-header__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 27px;
  font-weight: bold;
  text-transform: uppercase;
}

.page-header__note {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.page-header__offer {
  margin-left: 120px;
  width: 770px;
}

.page-header__offer-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
}

.page-header__offer-subtile {
  margin: 0;
  margin-left: 75px;
  font-size: 18px;
}

.page-header__offer-list {
  padding-left: 70px;
  margin-bottom: 30px;
}

.page-header__offer-item {
  margin-bottom: 10px;
}

.page-header__intro-btn {
  margin-left: 50px;
}

.page-header__intro-img {
  position: absolute;
  bottom: -35px;
  left: 750px;
  width: 487px;
  height: 487px;
  z-index: 10;
}

.promo-video {
  top: 217px;
  left: 874px;
  width: 46px;
  height: 40px;    
  z-index: 1000;
}
