.product {
  padding: 25px 15px;
  width: 270px;
  text-align: center;
  border-radius: 20px;
  background-color: $main-color;
}

.product__view {
  margin-bottom: 25px;
  padding-top: 6px;
  border: 1px solid $grey-color;
}

.product__img {
  display: block;
  overflow: hidden;
}

.product__title {
  margin: 0;
  margin-top: 6px;
  padding: 10px 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  color: #222;
  background-color: $grey-color;
}

.product__characteristics {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  //margin-bottom: 20px;
  padding: 0;
  width: 250px;
  list-style: none;
}

.product__characteristics-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 125px;

  &:nth-child(odd) {
    margin-right: 10px;
    width: 115px;
  }
}

.product__characteristics-img {
  position: relative;
  display: block;

  &:hover::after {
    content: atrr(data-title);
    position: absolute;
    top: 30%;
    left: 20%;
    width: 50px;
    z-index: 10;
    font-size: 12px;
    font-weight: 300;
    border: 1px solid $brand-color-tip;
    background: $brand-color-tip2;
  }
 }

.product__characteristics-info {
  width: 70px;
  text-align: center;
}

.product__price {
  margin: 0 auto;
  margin-bottom: 22px;
  padding: 10px 0;
  width: 175px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  border: 1px solid $brand-color-dark;
}

.product__btn {
  margin: 0 auto;
  padding: 15px 3px;
  width: 200px;
}
