.products {
  //min-height: 1246px;
  padding: 45px 0;
  background-color: #6ec57f;
}

.products__inner {
  margin: 0 auto;
  padding: 0 15px;
  width: 1075px;
}

.products__title {
  margin: 0;
  margin-bottom: 50px;
 // padding-top: 45px;
  padding-left: 55px;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}

.products__title span {
  text-transform: uppercase;
}

.products__group {
  margin-bottom: 30px;
  min-height: 750px;
  background-image: url('../img/ramatabsoic5tpp-compressor.png');
  background-repeat: no-repeat;
  background-position: 0% 100%;
  //background-size: cover;
}

.products__tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 930px;
}

.products__tabs-item {
  margin-bottom: 7px;
  padding: 0 5px;
  width: 216px;
  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 17px;
  background-color: rgba(138, 137, 136, 0.5);

  &--active {
    color: #000;
    background-color: #fff;
  }
}

.products__slide {
  margin: 0 auto;
  width: 930px;
}

#products-slide1, #products-slide3, #products-slide4, #products-slide5, #products-slide6, #products-slide7, #products-slide8 {
  display: none;
}

.products__slide-info {
  color: #fff;
}

.products__list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style: none;
}

.products__note {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 80px;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.products__info {
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 15px 65px;
  width: 510px;
  font-size: 18px;
  line-heught: 24px;
  text-align: center;
  color: #fff;
  border: 3px solid #2b9540;
  border-radius: 30px;
}

.products__btn {
  margin: 0 auto;
}