.work-description {
  padding-top: 40px;
  min-height: 660px;
  border-bottom: 3px solid $brand-color-dark;
 /* background: url('../img/shema-s1_qxuk3lb.jpg') 100% 0% no-repeat,
              url('../img/shema-pr1_x1pprvi.jpg') 100% 100% no-repeat;*/
  background: url('../img/process-img.png') 50% 60% no-repeat;
}

.work-description__inner {
  @include container();
}

.work-description__title {
  margin: 0;
  margin-bottom: 50px;
  width: 250px;
  font-size: 22px;
  font-weight: normal;
}

.work-description__title span {
  text-transform: uppercase;
}

.work-description__list {
  position: relative;
  list-style: none;
}

.work-description__item {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 25px;
  width: 320px;
  font-weight: 300;

  &::before  {
    content: "1";
    position: absolute;
    top: 4px;
    left: -45px;
    padding-top: 3px;
    width: 35px;
    height: 32px;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-color: $brand-color-dark;
  }

  &--2 {
    top: 0;
    left: 500px;
    &::before {
      content: "2";
    }
  }

  &--3 {
    top: 350px;
    left: 0;
    width: 250px;
    &::before {
      content: "3";
    }
  }

  &--4 {
    top: 450px;
    left: 350px;
    &::before {
      content: "4";
    }
  }

  &--5 {
    top: 400px;
    left: 750px;
    &::before {
      content: "5";
    }
  }
}

.work-description__item  span {
  font-weight: bold;
}